<div class="full-screen-container">
    <div class="login-container">
        <form (ngSubmit) = "onSubmit()"> 
        <h2>Preencha</h2>
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)] = "usuario.email" name="email" required />
        <div *ngIf = "errorMessage" class = "error-message">

            {{ errorMessage }}
        </div>
        <label for="fullname">Nome Completo</label>
        <input type="text" id="fullname" [(ngModel)] = "usuario.nomeCompleto" name="fullname" required />
        <label for="fullname">Data de Nascimento</label>
        <input type="text" id="date" [(ngModel)] = "usuario.date" name="date" required />
        <label for="fullname">CPF</label>
        <input type="text" id="CPF" [(ngModel)] = "usuario.CPF" name="CPF" required />
        <label for="fullname">PID</label>
        <input type="text" id="PID" [(ngModel)] = "usuario.PID" name="PID" required />
        <label for="fullname">E-mail</label>
        <input type="text" id="email" [(ngModel)] = "usuario.email" name="email" required />
        <label for="password">Senha (8 dígitos)</label>
        <input type="password" id="password" [(ngModel)] = "usuario.senha" name="password" required /> 
        <div class="form-group">
        </div> 
            <a (click)="goToLogin()">Já tem uma conta? Acesse aqui</a>
        <button type="submit" >Cadastrar </button>
    </form>
    </div>
</div>

